<%= render_partial "title" %>

<div>
  <table>
    <tr>
	  <%= content_tag("th", "Submission Type" ) %>
	  <%= content_tag("th", "Daemon Type" ) %>
	  <%= content_tag("th", "Process owner" ) %>
	  <%= content_tag("th", "Process ID" ) %>
	  <%= content_tag("th", "Start Time" ) %>
	  <%= content_tag("th", "Running?" ) %>
	  <%= content_tag("th", "End Time" ) %>
	</tr>
	
	<% @daemons.each do |d| %>
	  <tr>
		<%= content_tag("td", d.pipeline.submission_type) %>
		<%= content_tag("td", d.daemon_type) %>
		<%= content_tag("td", d.user ) %>
		<%= content_tag("td", d.pid) %>
		<%= content_tag("td", d.start_time) %>
		<%= content_tag("td", d.running) %>
		<%= content_tag("td", d.end_time) %>
	  </tr>
	<% end %>
	
  </table>
  
  <%= will_paginate @daemons, :class  => 'footer'  %>
						
</div>
